
@{
    ViewBag.Title = "Baohanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chính sách bảo hành</h2>
<p>
    Tất cả sản phẩm tại shop là hàng chính hãng và được bảo hành theo chính sách của NSX.Ngoài ra FPT Shop cũng hỗ trợ gửi bảo hành miễn phí giúp khách hàng đối với cả sản phẩm do FPT Shop bán ra và sản phẩm Quý khách mua tại các chuỗi bán lẻ khác. <br />
    - Đổi mới trong 30 ngày nếu lỗi NSX.<br />
    - Gửi bảo hành miễn phí vận chuyển.<br />
    - Theo dõi tiến độ qua hotline hoặc tra cứu.<br />
    - Hỗ trợ làm việc với hãng để xử lý phát sinh trong quá trình bảo hành. <br />

    - Bên cạnh đó Quý khách có thể tham khảo một số các trường hợp thường gặp nằm ngoài chính sách bảo hành sau để xác định sơ bộ máy có đủ điều kiện bảo hành hãng: <br />
    - Sản phẩm hết hạn bảo hành<br />
    - Sản phẩm đã bị thay đổi, sửa chữa không thuộc các Trung Tâm Bảo Hành Ủy Quyền của Hãng.<br />
    - Sản phẩm lắp đặt, bảo trì, sử dụng không đúng theo hướng dẫn của Nhà sản xuất gây ra hư hỏng.<br />
    - Sản phẩm lỗi do ngấm nước, chất lỏng và bụi bẩn. Quy định này áp dụng cho cả những thiết bị đạt chứng nhận kháng nước/kháng bụi cao nhất là IP68.<br />
    - Sản phẩm bị biến dạng, nứt vỡ, cấn móp, trầy xước nặng do tác động nhiệt, tác động bên ngoài.<br />
    - Sản phẩm có vết mốc, rỉ sét hoặc bị ăn mòn, oxy hóa bởi hóa chất.<br />
    - Sản phẩm bị hư hại do thiên tai, hỏa hoạn, lụt lội, sét đánh, côn trùng, động vật vào.<br />
    - Sản phẩm trong tình trạng bị khóa tài khoản cá nhân như: Tài khoản khóa máy/màn hình, khóa tài khoản trực tuyến Xiaomi Cloud, Samsung Cloud, iCloud, Gmail...<br />
    - Khách hàng sử dụng phần mềm, ứng dụng không chính hãng, không bản quyền.<br />
    - Màn hình có bốn (04) điểm chết trở xuống.<br />
    ...
</p>
@Html.ActionLink("Quay lại ", "Index", "Product", null, new { @class = "btn btn-primary" })