
@{
    ViewBag.Title = "Giaohang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chính sách giao hàng</h2>
<h6>Giao hàng tại nhà</h6>
 -Mua hàng tại Mobile Store, khách hàng sẽ được hỗ trợ giao hàng tại nhà hầu như trên toàn quốc. Với độ phủ trên khắp 63 tỉnh thành, Quý khách sẽ nhận được sản phẩm nhanh chóng mà không cần mất thời gian di chuyển tới cửa hàng.
<br />

<h6>Giao hàng</h6>
 • Áp dụng với tất cả các sản phẩm có áp dụng giao hàng tại nhà, không giới hạn giá trị.
<br />

 • Miễn phí giao hàng trong bán kính 20km có đặt shop (Đơn hàng giá trị < 100.000 VNĐ thu phí 10.000 VNĐ).
<br />

• Với khoảng cách lớn hơn 20km, nhân viên Mobile Store sẽ tư vấn chi tiết về cách thức giao nhận thuận tiện nhất.
<br />



<h6>Thanh toán</h6>
• Đơn hàng có giá trị từ 50 triệu trở lên: Quý khách phải thanh toán trước 100% giá trị đơn hàng nếu muốn giao hàng tại nhà.
<br />

• Đơn hàng có giá trị dưới 50 triệu: Quý khách có thể nhận hàng và thanh toán tại nhà khi đồng ý mua hàng.
<br />

<h6>Hỗ trợ lắp đặt</h6>
 - Đối với các sản phẩm có chính sách lắp đặt tại nhà (VD: TV, Điều hòa,...) sau khi sản phẩm được giao tới nơi. FPT Shop sẽ hỗ trợ tư vấn, lắp đặt và hướng dẫn sử dụng miễn phí cho khách hàng.
<br />



<h6>Riêng đối với các sản phẩm Chỉ bán Online:</h6>
• Khi nhận hàng, quý khách  không đồng kiểm chi tiết với nhà vận chuyển (chỉ kiểm tra ngoại quan kiện hàng, không bóc và kiểm tra chi tiết sản phẩm bên trong). Trường hợp Quý khách không nhận sản phẩm, kiện hàng sẽ được nhà vận chuyển chuyển hoàn về nơi gửi.

• Quý khách cần quay video khi nhận hàng mở kiện để được thực hiện đổi trả nếu hàng hoá có phát sinh vấn đề.

• Quý khách có 01 ngày để gọi lên tổng đài khiếu kiện trong trường hợp phát sinh đến hàng hoá.


@Html.ActionLink("Quay lại ", "Index", "Product", null, new { @class = "btn btn-primary" })