@model SHOP_IPHONE.Models.ForgotPasswordViewModel
<h2>Quên mật khẩu</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.EmailOrPhone)
    @Html.TextBoxFor(m => m.EmailOrPhone, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.EmailOrPhone)
    <button class="btn btn-primary mt-2">Gửi mã xác nhận</button>
}